<footer id="footer" class="footer dark-background" style="position: relative;">

  <div class="container footer-top">
    <div class="row gy-4">
      <!-- Footer About (Now col-lg-4 -> col-lg-4 remains) -->
      <div class="col-lg-4 col-md-6 footer-about">

        <div class="footer-contact pt-3">
          <p>Av. De la bourse </p>
          <p>Immeuble Diar Sidi Mansour 4,<br>Bureau MA2 bloc A , Lac 2</p>
          <p class="mt-3"><strong>Tél:</strong> <span>(+216) 54 292 290</span></p>
          <p><strong>Email:</strong> <span>Elenadimassi@gmail.com</span></p>
        </div>
      </div>

      <!-- Useful Links (col-lg-2 -> col-lg-4) -->
      <div class="col-lg-4 col-md-6 footer-links">
        <h4 class="section-title">Liens utiles</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#about">About us</a></li>
          <li><a href="#services">Services</a></li>
        </ul>
      </div>

      <!-- Our Services (col-lg-2 -> col-lg-4) -->
      <div class="col-lg-4 col-md-6 footer-links">
        <h4 class="section-title">Réseaux sociaux</h4>

        <div class="social-links d-flex mt-4">
          <a href="https://www.facebook.com/share/16v4VuRY3n/?mibextid=wwXIfr"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/sises.98?igsh=MXF0ZHVscjdkMDR1dA=="><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="icef-badge-link" [class.visible]="badgeVisible">
    <span id="iasBadge" data-account-id="5279"></span>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">SISES</strong> <span>All Rights Reserved</span></p>
    <div class="credits">
      Designed by <a href="#">KHALIL-BJ</a>
    </div>
  </div>

</footer>
