<div id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a routerLink="/" class="logo d-flex align-items-center">
      <div class="sises-logo">
        <img src="/assets/img/sises-logo-S.png" alt="SISES Logo" width="74" height="20">
      </div>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active" (click)="closeMobileNav()">Home</a></li>
        <li><a href="#about" (click)="closeMobileNav()">About</a></li>
        <li><a href="#services" (click)="closeMobileNav()">Services</a></li>
        <li><a href="#destination" (click)="closeMobileNav()">Destination</a></li>
        <li><a href="#contact" (click)="closeMobileNav()">Contact</a></li>
      </ul>
    </nav>

    <button type="button" class="mobile-nav-toggle" (click)="toggleMobileNav()" [attr.aria-expanded]="isMobileNavOpen" aria-controls="navmenu" [attr.aria-label]="isMobileNavOpen ? 'Close main menu' : 'Open main menu'">
      <i class="bi" [class.bi-list]="!isMobileNavOpen" [class.bi-x]="isMobileNavOpen"></i>
    </button>

  </div>
</div>
