<div class="world-map-container">
  <!-- Loader -->
  <div class="loader" *ngIf="!svgContent">
    <div class="spinner"></div>
    <p>Loading map...</p>
  </div>

  <!-- The map will be inserted here -->
  <div id="world-map" [innerHTML]="svgContent | safeHtml"></div>

  <!-- Tooltip for country info -->
  <div class="country-tooltip" *ngIf="showTooltip && selectedCountry"
       [style.left.px]="tooltipX"
       [style.top.px]="tooltipY"
       [@fadeInOut]="true">
    <div class="tooltip-header">
      <button class="close-button" (click)="closeTooltip()" *ngIf="isCountryLocked">×</button>
    </div>
    <div class="tooltip-content">
      <h3 class="country-name">{{ selectedCountry.name }}</h3>
      <p class="country-description">{{ selectedCountry.description }}</p>
    </div>
  </div>
</div>
