
<div class="world-map-container countries-selected-scroll" [class.country-selected]="isCountryLocked">
  <!-- Search input -->
<div class="search-container" style="width: 100%; display: flex; justify-content: center; margin-bottom: 1rem;">
  <div class="search-wrapper">
    <input
      type="text"
      class="country-search"
      [(ngModel)]="searchQuery"
      (input)="filterCountries()"
      (focus)="onSearchFocus()"
      placeholder="Search for a country..." />

    <button
      *ngIf="searchQuery"
      class="clear-button"
      (click)="clearSearch()"
      title="Clear search">
      ×
    </button>

    <div class="search-dropdown" *ngIf="isDropdownOpen && filteredCountries.length">
      <div
        *ngFor="let country of filteredCountries"
        class="dropdown-item"
        (click)="selectCountry(country.key)">
        {{ country.value.name }}
      </div>
    </div>
  </div>
</div>


  <!-- Modern Logo displayed at center top when a country is selected -->
  <div *ngIf="isCountryLocked" class="logo-container">
    <img src="assets/img/logo-sises.svg"
         alt="Sises Logo"
         class="sises-logo-modern" />
    <div class="logo-glow"></div>
  </div>

  <!-- Loader -->
  <div class="modern-loader" *ngIf="!svgContent">
    <div class="loader-ring"></div>
    <div class="loader-ring"></div>
    <div class="loader-ring"></div>
    <p class="loader-text">Loading interactive world map...</p>
  </div>

  <!-- The map will be inserted here -->
  <div id="world-map" [innerHTML]="svgContent | safeHtml"></div>

  <!-- Modern Tooltip -->
  <div class="modern-tooltip"
       *ngIf="showTooltip && selectedCountry"
       [style.left.px]="tooltipX"
       [style.top.px]="tooltipY"
       [@fadeInOut]="true">
    
    <div class="tooltip-background"></div>
    <div class="tooltip-border"></div>
    
    <div class="tooltip-header">
      <div class="tooltip-icon">
        <i class="bi bi-geo-alt-fill"></i>
      </div>
      <button class="modern-close-button"
              (click)="closeTooltip($event)"
              (mousedown)="$event.stopPropagation()"
              (mouseup)="$event.stopPropagation()"
              (mouseover)="$event.stopPropagation()"
              (mouseenter)="$event.stopPropagation()"
              (mouseleave)="$event.stopPropagation()"
              *ngIf="isCountryLocked"
              title="Close country details">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>

    <div class="tooltip-content">
      <h1 class="country-name-modern">{{ selectedCountry.name }}</h1>
      <p class="country-subtitle">INFORMATION DU PAYS</p>
      <p class="country-description-modern">{{ selectedCountry.description }}</p>

      <div class="tooltip-actions" *ngIf="isCountryLocked">
        <button class="modern-action-button" (click)="exploreMore()">
          <span>VOIR PLUS</span>
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
