<div>
  <app-header/>
  <div class="conteneur-page-pays"
       *ngIf="donneesPays"
       [style.backgroundImage]="donneesPays['bg-image'] ? 'url(/assets/img/country-page/' + donneesPays['bg-image'] + ')' : 'none'">

    <p class="bouton-retour" (click)="retourArriere()">Retour</p>
    <div class="all-content-container">
      <img [src]="'/assets/img/country-page/' + donneesPays['src_image']"  loading="lazy" alt="Contenu de la page" class="allcontentPage" />
    </div>
  </div>
  <app-footer/>
</div>
