/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'BNMachine';
  src: url('/assets/fonts/BNMachine.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* Force-remove underlines from all links */
a,
a:hover {
  text-decoration: none !important;
}
